<h1>{{ title }}</h1>
<button (click)="changeTextInTitle()">Click Here to change</button>

<div><h3>Movie Name that is clicked : {{clickedMovieName}}</h3></div>
<div><h3>Movie Alias Name that is clicked : {{clickedAliasMovieName}}</h3></div>
<!-- <app-header></app-header> -->
<app-moviedetails></app-moviedetails>
<app-movielist 
    [movieList] = movies
    [actors] = actorListComplete 
    (movieClick) = movieClickData($event)
    (outAlias) = movieClickAliasData($event)
>
<p>Placing a new content in NG-CONTENT</p>
</app-movielist>

-------------------------------------------------------------------
<p *ngFor="let r of movies;let i = index">
    {{r.movietitle}} - {{i}}
</p>