<div class="title">
  <h2>Add New Movie :</h2> 
</div>
<div class="otr">
  <input 
    class="addmovie" 
    [(ngModel)] = "twoWayBinding" 
    #addMovieEvent
  /> <!-- TwoWay Binding -->
  <button class="btn" [disabled] = 'dataBinding' (click)='addMovieName(addMovieEvent)'>Add</button><!-- Property Binding, Event Binding --> 
</div>
<div><h3>{{twoWayBinding}}</h3></div><!-- String Interpolation -->

<div class="add">
  <p *ngFor="let r of actorList;let i = index">
    {{r.name}} - {{i}}
  </p>
</div>
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
<div class="add">
  <p *ngFor="let r of movieList;let i = index">
    {{r.movietitle}} - {{i}}
    <button class="click" (click) = movieData(r)>Click</button>
    <button class="aliasClick" (click) = movieAliasData(r)>Alias Click</button>
  </p>
</div>
